<h1 class="current-category"><%= params[:genre] %></h1>

<% if @movies.count == 0 %>
    <div class ="row">
    <h3>There are no Movies currently in this category</h3>
    </div>
        <% end %>
<% else %>

    <div class ="row">
    
        <% @movies.each do |movie| %>
            <div class="col-md-3">
                <a href = "/movies/<%= movie.id %>">
                    <%= image_tag movie.movie_img.url(:movie_index), class: "movie" %>
                </a>
            </div>
        <% end %>

<%end%>
    </div>
    <div class ="pagin">
    <%= will_paginate %>
    </div>
    